.metals/
.vscode/
.git/
.zip
uno/target/bg-jobs/
uno/target/streams/
uno/target/test-reports/
uno/.bloop/
uno/.bsp/
uno/project/*
uno/target/.history3
uno/target/global-logging/
uno/target/scala-3.1.0/classes/
uno/target/scala-3.1.0/sync/
uno/target/scala-3.1.0/test-classes/
uno/target/scala-3.1.0/test-sync/
uno/target/scala-3.1.0/test-zinc/
uno/target/scala-3.1.0/uno_3-0.0.1.jar
uno/target/scala-3.1.0/update/
uno/target/scala-3.1.0/zinc/
!uno/target/scala-3.1.0/api/*
!uno/target/scala-3.1.0/api/game_components/*
!uno/target/scala-3.1.0/api/mvc_components/*
